#menu a{
        text-decoration : none;
        color           : black;
        font-weight     : 800;
        font-size       : 14px;
        font-family     : Helvetica, sans-serif;
    
        background-image: url('images/2d-button.png');
        background-repeat: no-repeat;
        display: block;
        width: 189px;
        height: 50px;
        padding-left: 50px;
        padding-top: 16px;
        float: left;
        
        background-blend-mode: normal;
}

#menu a:hover{
        background-image: url('images/2d-button-2.png');
        color: white;
}

body{
        background-color: darkseagreen;
}

h2{
        font-family: impact, fantasy;
        font-size: 20px;
        font-weight: 800;
}

.gallery img{
        width: 50%;
 }

#logo{
        font-family: impact, fantasy;
        color: cornsilk;
        font-size: 105px;
    
        background-image: url('images/logo-2.png');
        background-repeat: no-repeat;
        display: block;
        width: 400px;
        height: 390px;
        padding-left: 210px;
        padding-top: 90px;
        float: left;
}

h1{
    
    font-family: impact, fantasy;
    font-size: 50px;
}

input{
    border-width: medium;
}

h6{
    font-size: 20px;
}

table{
      font-family : Helvetica, sans-serif;
      border-collapse: collapse;
      border-width   : 3px;
      border-style   : solid;
}    

th{
    font-weight: 800;
    background-color: #2695A6;
    color           : #ffffff;
}